.fileUpload{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    gap: 10px;
    width: 100%;


}

#prompt_input{
    width: 30%;
    height: 100px;
    overflow-y: auto;   
    resize: vertical;  
}

#submit_button{
    background-color:rgb(134, 251, 158);
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

#inputfile{
    display: flex;
    justify-content: center;
}