.Home {
 display: flex; 
 flex-direction: column;
 width: 100%;
 align-items: center;
}

.Home-NavBar{

width: 100%;
}

.review{
width: 100%;
display: flex;
background-color:rgb(108, 159, 249);
flex-direction: column;
align-items: center;
box-sizing: border-box;
padding: 50px;
}

#review_button, #error_button {

    background-color: rgb(249, 218,85) ;
    width: 30%;
    padding: 5px;
    border-radius: 3px;
    color: black;

    
}