@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif; /* 全局字体 */
  background-color: rgb(241, 192, 250);
}



a, a:visited, a:hover, a:active {
    color: inherit; 
    text-decoration: none;
}