
.NavBar {
width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(134, 251, 158);
    padding-left: 20px;
    padding-right: 80px;
    box-sizing: border-box;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  
}

.NavBar-menu{

background-color:rgb(134, 251, 158);
padding: 8dpx;
border-radius: 3px;
font-weight: bold;
color:  rgb(45, 43, 46);
  
}
.NavBar p{

 font-weight: bold;
 color:  rgb(39, 38, 35);
 /* background-color:rgb(241, 192, 250); */
}

