
.NavBar {
width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(134, 251, 158);
    padding-left: 20px;
    padding-right: 100px;
    box-sizing: border-box;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  
}

.NavBar-menu{
display: flex;

background-color:rgb(134, 251, 158);
padding: 8dpx;
border-radius: 3px;
font-weight: bold;
color:  rgb(45, 43, 46);
gap:10px;
  
}

.NavBar-back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(39, 38, 35);
  transition: all 0.2s ease;
  opacity: 0.7;
  margin-right: 12px;
}

.NavBar-back-button:hover {
  opacity: 1;
  transform: scale(1.1);
}

.NavBar-back-button:active {
  transform: scale(0.95);
}

.NavBar p{

 font-weight: bold;
 color:  rgb(39, 38, 35);
 /* background-color:rgb(241, 192, 250); */
}

