.sendtomcp {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 100vh;
}

.result_area {
  width: 70%;
  /* height:80%; */
  /* flex: 1; */
  min-height: 200px; 
  overflow-y: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.input_area {
  width: 70%;
  position: sticky;
  bottom: 0;
  /* background-color: white; */
  box-sizing: border-box;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.input_area textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.sendtomcp img {
  width: 100px;
  height: 100px;
}

.sendtomcp button {
  background-color: rgb(249, 218, 85);
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  color: black;
}
