.sendtomcp {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 100vh;
}

.result_area {
  /* width: 70%; */
  width: 900px;
  /* height:80%; */
  /* flex: 1; */
  min-height: 200px; 
  overflow-y: auto;
  padding: 20px;
  background-color: rgb(242, 192, 250);
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin-bottom: 200px;
  border: solid rgb(242, 192, 250);
}

.input_area {
  /* width: 70%; */
  width: 900px;
  position: fixed;
  bottom: 0;
  /* background-color: white; */
  box-sizing: border-box;
  padding: 10px 0;
  border-radius: 8px;
  border-top: 1px solid #ccc;
}

.input_area textarea {
  width: 100%;
  height: 100px;
  background-color: #fff3f8;
  resize: none;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px; 
  box-sizing: border-box;
  border: 2px solid #ec7dd0;   /* 改这里，颜色可以自定义 */
  box-sizing: border-box;
}

/* .sendtomcp img {
  width: 300px;
  height: 200px;
  transition: opacity 0.3s ease; 
} */

#autohive{
  width: 45px;
  height: 40px;
  transition: opacity 0.3s ease; 
}

#codefixer{
  width: 400px;
  height: 285px;
  transition: opacity 0.3s ease; 

}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sendtomcp button {
  background-color: rgb(249, 218, 85);
  width: 100%;
  /* gap: 50px; */
  padding: 10px;
  border-radius: 8px;
  color: black;
  
}

.status_text {
  width: 900px;
  font-size: 14px;
  color: #666;
  margin: 0;
  padding: 4px 0;
  position: fixed;
  bottom: 170px;
}

.agentTitle{

    display: flex;
    gap: 5px;
    align-items: center;
}